{% extends "home_layout.html" %}

{% block content %}
    <div class="row" style="margin-bottom: 70px;">
        <div id="left-preview-board" class="col-md-5">
            <a><b>Notice</b></a>
            <a href={{ url_for('board', type="notice", page="1", boardNum="") }} style="float: right; font-size:small">+ 더보기</a>
            <hr/>
            <ul style="font-size: small;">
                {% if ((data is defined) and (data['notice']|length)): %}
                    {% for items in data['notice'] %}
                        <li><a href={{ url_for('board', type="notice", page="1", boardNum=items['id']) }}>{{ items['title'] }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Empty</li>
                {% endif %}
            </ul>
        </div>
        <div id="right-preview-board" class="col-md-5">
            <a><b>Free Board</b></a>
            <a href={{ url_for('board', type="free", page="1", boardNum="") }} style="float: right; font-size:small">+ 더보기</a>
            <hr/>
            <ul style="font-size: small;">
                {% if ((data is defined) and (data['free']|length)): %}
                    {% for items in data['free'] %}
                        <li><a href={{ url_for('board', type="free" , boardNum=items['id']) }}>{{ items['title'] }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Empty</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row" style="margin-top: 70px;"">
        <div id="left-preview-board" class="col-md-5">
            <a><b>Questions</b></a>
            <a href={{ url_for('board', type="question", page="1", boardNum="") }} style="float: right; font-size:small">+ 더보기</a>
            <hr/>
            <ul style="font-size: small;">
                {% if ((data is defined) and (data['question']|length)): %}
                    {% for items in data['question'] %}
                        <li><a href={{ url_for('board', type="question", boardNum=items['id']) }}>{{ items['title'] }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Empty</li>
                {% endif %}
            </ul>
        </div>
        <div id="right-preview-board" class="col-md-5">
            <a><b>Secret Board</b></a>
            <a href={{ url_for('board', type="secret", page="1", boardNum="") }} style="float: right; font-size:small">+ 더보기</a>
            <hr/>
            <ul style="font-size: small;">
                {% if ((data is defined) and (data['secret']|length)): %}
                    {% for items in data['secret'] %}
                        <li><a href={{ url_for('board', type="secret", boardNum=items['id']) }}>{{ items['title'] }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Empty</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}