{% extends "home_layout.html" %}

{% block content %}
    <table class="table table-hover small">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Writer</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if data['post'] is defined %}
                {% for item in data['post'] %}
                    <tr id="boardPost">
                        <td id="boardPostId">{{ item['id'] }}</td>
                        <td>{{ item['title'] }}</td>
                        <td>{{ item['writer'] }}</td>
                        <td>{{ item['posted_date'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Empty</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr/>
    <br/>
    <div style="float: right;">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('write', type=type) }}';">New Post</button>
    </div>
    <div style="margin-top: 20px;">
        <ul class="pagination justify-content-center">
            {% for i in range(data['total_page']) %}
                <li class="page-item"><a class="page-link" href={{ url_for('board', type=type, page=i+1, boardNum="") }}>{{ i+1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}