{% extends "home_layout.html" %}

{% block content %}
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown();

            const urlParams = new URLSearchParams(window.location.search);
            var type = urlParams.get('type');
            if (type == 'secret')
                $('#postPasswordArea').css('display', '');
            else
                $('#postPasswordArea').css('display', 'none');

            type = type.charAt(0).toUpperCase() + type.slice(1);

            document.getElementById('boardTypeMenu').innerText = type;
            document.getElementById('boardType').value = type;
        });
    </script>
    <div class="container">
        <form id="writeForm" autocomplete="off" method="POST">
            <table class="table table-bordered small">
                <thead>
                    <caption class="text-center" style="caption-side:top; color:black">Add New Post</caption>
                </thead>
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" id="title" name="title" size="24" spellcheck="false"></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="boardTypeMenu"></button>
                                <div class="dropdown-menu w-50" aria-labelledby="boardTypeMenu">
                                    <h6 class="dropdown-header">Select Board Type</h6>
                                    <hr class="dropdown-divider" />
                                    {% if data['is_admin'] is defined and data['is_admin'] is sameas true %}
                                        <a class="dropdown-item" href="#" id="typeCell">Notice</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="#" id="typeCell">Free</a>
                                    <a class="dropdown-item" href="#" id="typeCell">Question</a>
                                    <a class="dropdown-item" href="#" id="typeCell">Secret</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="300">
                        <td>Contents</td>
                        <td><textarea id="contents" name="contents" class="form-control" rows="14" spellcheck="false" style="resize: none; font-size:small;"></textarea></td>
                    </tr>
                    <tr id="postPasswordArea" style="display: none;">
                        <td>Password</td>
                        <td><input type="password" class="form-control" pattern="\d{4}" minlength="4" maxlength="4" placeholder="only four digits" name="postPassword" id="postPassword"></td>
                    </tr>
                </tbody>
                <input type="hidden" name="boardType" id="boardType" value="" />
            </table>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-sm" id="postBtn">Post</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="history.back()">Cancel</button>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </div>
{% endblock %}