{% extends "register_layout.html" %}

{% block content %}
    <div class="center_container">
        <div class="agree_container">
            <h6>Terms of Service<span style="color:red;">(required)</span></h6>
            <textarea class="form-control" cols="40" rows="3" >abcdefghijklmnopqrstuvwxyz</textarea>
            <div class="custom-control custom-checkbox" style="float:right; margin-top:5px;">
                <input type="checkbox" id="checkbox1" name="ServicesAgree" class="custom-control-input">
                <label class="custom-control-label" for="checkbox1">Agree</label>
            </div>
        </div>
        
        <div class="agree_container">
            <h6>Privacy Policy<span style="color:red;">(required)</span></h6>
            <textarea class="form-control" cols="40" rows="3" >abcdefghijklmnopqrstuvwxyz</textarea>
            <div class="custom-control custom-checkbox" style="float:right; margin-top:5px;">
                <input type="checkbox" id="checkbox2" name="PolicyAgree" class="custom-control-input">
                <label class="custom-control-label" for="checkbox2">Agree</label>
            </div>
        </div>

        <div class="footer" style="float:right;">
            <button type="button" class="btn btn-primary btn-md" onclick="openRegisterPage('create');">Next</button>
            <button type="button" class="btn btn-secondary btn-md" onclick="window.location.href='{{ url_for('index') }}';" >Cancel</button>
        </div>
        <input type="hidden" name="ag_csrf_token" value="{{ csrf_token() }}" />
    </div>
{% endblock %}